In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('2_5_clean.csv')

In [3]:
#df.head()

## 1. Data Cleaning

In [4]:
def name(x):
    if x=='Scotland,UK':
        x='United Kingdom'
    elif x=='Slovenije':
        x='Slovenia'
    elif x=="People's Republic of China":
        x='China'
    elif x=='Hong Kong':
        x='Hong Kong, China (SAR)'
    elif x=='Taiwan':
        x='China'
    elif x=='South Korea':
        x='Korea (Republic of)'
    elif x=='England':
        x='United Kingdom'
    elif x=='Iran':
        x='Iran (Islamic Republic of)'
    elif x=='Republic of China':
        x='China'
    elif x=='US':
        x='United States'
    elif x=='United Kindoms':
        x='United Kingdom'
    elif x=='Northern Ireland':
        x='United Kingdom'
    return x

In [5]:
df['Location']=df['Location'].apply(name)

In [6]:
#df.iloc[157]

## 2. Finding HDI

In [7]:
df_un=pd.read_csv('HDR21-22_Composite_indices_complete_time_series.csv')

In [8]:
df_un

,iso3,country,hdicode,region,hdi_rank_2021,hdi_1990,hdi_1991,hdi_1992,hdi_1993,hdi_1994,...,mf_2012,mf_2013,mf_2014,mf_2015,mf_2016,mf_2017,mf_2018,mf_2019,mf_2020,mf_2021
0,AFG,Afghanistan,Low,SA,180.0,0.273,0.279,0.287,0.297,0.292,...,1.860000,1.880000,1.660000,1.620000,1.660000,1.410000,1.320000,1.380000,1.380000,1.380000
1,AGO,Angola,Medium,SSA,148.0,NaN,NaN,NaN,NaN,NaN,...,4.090000,4.530000,3.970000,3.590000,2.790000,2.640000,2.280000,2.180000,2.180000,2.180000
2,ALB,Albania,High,ECA,67.0,0.647,0.629,0.614,0.617,0.624,...,12.440000,11.490000,13.140000,12.610000,14.390000,14.460000,12.850000,12.960000,12.960000,12.960000
3,AND,Andorra,Very High,NaN,40.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ARE,United Arab Emirates,Very High,AS,26.0,0.728,0.739,0.742,0.748,0.755,...,49.560000,49.680000,55.490000,59.760000,64.950000,75.610000,65.970000,68.950000,68.950000,68.950000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,ZZG.ECA,Europe and Central Asia,NaN,NaN,NaN,0.664,0.661,0.654,0.652,0.647,...,13.107171,14.172082,14.189127,14.523162,13.791770,13.618078,13.914030,14.087293,14.091826,14.096719
202,ZZH.LAC,Latin America and the Caribbean,NaN,NaN,NaN,0.633,0.638,0.643,0.648,0.654,...,14.114108,14.493145,14.080904,14.146026,13.325144,13.604555,13.151315,13.296195,13.290914,13.284745
203,ZZI.SA,South Asia,NaN,NaN,NaN,0.442,0.447,0.453,0.457,0.462,...,4.699407,4.584935,4.486500,4.610546,4.624886,4.740263,5.000024,5.110230,5.106447,5.102134
204,ZZJ.SSA,Sub-Saharan Africa,NaN,NaN,NaN,0.407,0.410,0.410,0.411,0.413,...,3.437760,3.530479,3.491150,3.494860,3.415511,3.256156,3.145930,3.151076,3.146092,3.140740
205,ZZK.WORLD,World,NaN,NaN,NaN,0.601,0.604,0.607,0.610,0.614,...,12.186601,12.474065,12.520563,12.372667,12.277707,12.277878,12.220286,12.375236,12.325166,12.271920

In [9]:
len(df)

214

In [10]:
len(df[df['Location']=='Location information not found'])

41

In [11]:
len(df[df['Location'].isna()])

0

In [12]:
lst_index=[]
for i in range(len(df)):
    if df['Location'][i] in df_un['country'].to_list():
        index=df_un[df_un['country']==df['Location'][i]].index.to_list()[0]
        year='hdi_'+str(df['Year'][i])   
        lst_index.append(df_un[year][index])
    else:
        lst_index.append('')

In [13]:
#checking
count=0
for i in lst_index:
    if i=='':
        count+=1
count

41

In [14]:
df['index']=pd.DataFrame(lst_index)

In [15]:
df.to_csv('third_dataset.csv')

## 3. Calculating Correlation

In [16]:
import numpy as np

In [17]:
df['index']=df['index'].replace('',np.nan)

In [18]:
df['Citations']=df['Citations'].replace('missing',np.nan)

In [19]:
df_temp=df[~df['index'].isnull()]

In [20]:
df_cor=df_temp[~df_temp['Citations'].isnull()]

In [21]:
df_cor['Citations']=df_cor['Citations'].apply(lambda x:int(x))

ValueError: invalid literal for int() with base 10: 'References (43)'

In [ ]:
len(df_cor)

In [ ]:
c = np.corrcoef(df_cor['Citations'],df_cor['index'])
c

In [ ]:
print('Correlations between citation number and HDI is: ',c[0][1])